
main {
    position: relative;
    padding-top: 60px;
    text-align: center;
    background:#DFFCFF
}

/* Ensure display:flex and others don't override a [hidden] */
[hidden] { display: none !important; }

.navbar-inner {
    padding:inherit;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #027FF4;
    background-image: none;


}


.topnav {
    background-color: #468CEE;
    overflow: hidden;
    padding: 14px 16px;
}


.navbar-inner.toolbar {
    background-color: #fafafa;

}


.navbar-inner.footer {
    background-color: #027FF4;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height:50px;

}

.nav.navBarPadding {
    margin-left:25px;
    margin-top: 10px;
}

.navbar .brand {
    margin-top: 2px;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}

.navbar-toggle {
  border: 1px solid white;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.app-title {
    text-align: right;
    line-height:50px;
    font-size:45px;
    color: white;

}
