<!DOCTYPE html>
<html><head>
<script type="text/javascript" src="test.js"></script>
<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

</head>
<body>

<div class="both-columns">
    <div class = "columnr">
        <p><input type="text" id="choreInput" value="Type Chore Here">
        <button onclick="makeChoreVar()" class = "btn btn-default">Add Chore</button></p>
        <br/>
        <p><u>Unassigned Chores</u></p>
        <p id= "printArrayList"></p>
    </div>
      <br/>
    <div class = "columnl">
        <p><input type="text" id="nameInput" value="Type Name Here">
        <button onclick="makeNameVar()" class = "btn btn-default">Assign Chore</button></p>
        <br/>
        <p><u>Currently Assigned Chores</u></p>
        <p id="printAssignedChore"></p>
        <br/>
    <div class = "refresh">

          <button onClick="history.go(0)" class = "btn btn-default">Start Again</button>
        </div>
</div>
</div>



</body>
</html>
<br/>
<br />
<a routerLink="/">Back</a>
